body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 5px;
    background-color: #f6f5f8;

  }
  

  .menu {
    border-bottom: 2px solid #999;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 97%;
    height: 100px;
    background-color: rgb(239, 240, 241);
    display:flex
  }


  .menuButton {
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 30px;
    width: 20%;
    height: 40%;
    background-color: rgb(231, 231, 241);
    border-radius: 10px;
    transition: 0.3s;
  }

  .menuButton:hover {
    background-color: rgb(233, 255, 35);
    border-radius: 15px;
    transition: 0.3s;
  }

  .choosingTitle {
    font-size: 25px;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 97%;
    height: 40px;
    background-color: rgb(228, 233, 240);
  }

  .choosingBox {
    min-height: 800px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: 48%;
    padding-bottom: 50px;
    background-color: rgb(41, 154, 230);
  }

  .translating {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
    width: 80%;
    max-width: 800px;
    background-color: rgb(34, 168, 135);
    border-radius: 5px;
    transition: 0.3s;
  }

  .translating:hover {
    font-size: 22px;
    transition: 0.3s;
  }


  .englishTranslating {
    font-weight: bold;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    text-align: center;
    background-color: rgb(236, 235, 235);
    cursor: pointer;
  }

  .polishTranslating {
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    text-align: center;
    background-color: rgb(29, 221, 77);
    cursor: pointer;
  }

  .englishTranslatingMarked {
    background-color: rgb(40, 173, 16);
  }

  .polishTranslatingMarked {
    background-color: rgb(161, 161, 161);
  }

  .addingToSetMenu {
    width: 90%;
    background-color: rgb(29, 221, 77);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 5px;
    height: 400px;
    display:flex
  }
  
  .SetsListInChoosingBox {
    width: 55%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 5%;
    height: 350px;
    overflow:auto;
  }

  .createSetButton {
    width: 85%;
    height: 60px;
    font-size: 25px;
    background-color:rgb(236, 238, 240);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5%;
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.createSetButton:hover {
  background-color:rgb(212, 217, 221);
  transition: 0.2s;
}

.setBox {
  background-color: rgb(235, 235, 235);
  margin-left: 20px;
  width: 80%;
  padding-top: 5px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  display:flex;
  transition: 0.2s;
}

.setBox:hover {
  background-color:rgb(212, 217, 221);
  transition: 0.2s;
}


.CreatingSetBox  {
  background-color: rgb(255, 255, 255);
  margin-left: 1%;
  width: 38%;
  padding-top: 5px;
  height: 200px;
  margin-top: 20px;
}

.CreatingSetBoxInput  {
  background-color: rgb(219, 233, 226);
  font-size: 20px;
  width: 70%;
  height: 35px;
  margin-top: 20px;
}

